<h2>Por pais</h2>
<hr />

<div class="row">
  <div class="col">
    <form autocomplete="off" (ngSubmit)="Buscar()">
      <input
        type="text"
        name="termino"
        placeholder="Buscar pais"
        [(ngModel)]="termino"
        class="form-control"
      />
    </form>
  </div>
</div>

<hr />

<div *ngIf="hayError" class="alert alert-danger">
  No hay busquedas con el termino: {{ termino }}
</div>

<!-- TODO: Refactor this to component -->
<div *ngIf="!hayError" class="row">
  <div class="col">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Bander</th>
          <th>Nombre</th>
          <th>Poblacion</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <td>#</td>
        <td>bandeer</td>
        <td>nombre</td>
        <td>123123</td>
        <td>
          <a href="#">+Info</a>
        </td>
      </tbody>
    </table>
  </div>
</div>
