<div *ngIf="!paises.length; else divPais" class="alert alert-info">
  Cargando...
</div>

<ng-template #divPais>
  <div class="row" *ngFor="let pais of paises; let i = index">
    <div class="col-12">
      <h1>
        Pais: <small>{{ pais.name.common }}</small>
      </h1>
    </div>
    <div class="col-4 border">
      <h3>Bandera</h3>
      <img [src]="pais.flags.png" alt="" class="small-flag" />
    </div>

    <div class="col border">
      <h3>Informacion</h3>
      <table class="table table-hover">
        <tbody>
          <tr>
            <td><strong>Problacion</strong></td>
            <td>{{ pais.population | number }}</td>
          </tr>
          <tr>
            <td><strong>Capital</strong></td>
            <td>{{ pais.capital }}</td>
          </tr>
          <tr>
            <td><strong>Ubicacion</strong></td>
            <td>
              <a target="_blank" [href]="pais.maps.googleMaps">Maps link</a>
            </td>
          </tr>
          <tr>
            <td><strong>Currencies</strong></td>
            <td *ngFor="let item of pais.currencies | keyvalue">
              {{ item.key }}: {{ item.value.name }}
            </td>
          </tr>
          <tr>
            <td><strong>Borders</strong></td>
            <td>
              <ul class="list-group">
                <li
                  *ngFor="let borders of pais.borders; let i = index"
                  class="list-group-item"
                >
                  {{ borders }}
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <h3>Traducciones</h3>
    <div class="row">
      <div class="col">
        <span
          class="badge bg-primary mr-1"
          *ngFor="let item of pais.translations | keyvalue"
          [title]="item.key"
        >
          {{ item.value.official }}
        </span>
      </div>
    </div>
  </div>
</ng-template>
